
div#content_c {
    margin: 50px 25px 0 25px;
}

h2 {
    margin-bottom: 10px;
}

table,
td {
    border: 1px solid rgb(180,180,180);
    border-collapse: collapse;
}
td, th {
    padding: 3px 5px 3px 5px;
}
tr:hover {
    background-color: rgb(240,240,240);
}
th {
    text-align: left;
    font-weight: bold;
}
